body{
    background-color: rgb(214, 238, 238);
}
.box{
    margin-left: 600px;
    margin-right: 700px;
    margin-top: 200px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top:  10px;
    padding-bottom:  10px;

    border: black solid;
}
button{
    color: rgb(0, 0, 0);
    background-color: rgb(54, 197, 197);
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 12px;
    margin-right: 5px;
}
.input{
padding-left: 10px;
}